@import url(https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dosis", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: rgb(235, 237, 240);
}

section.cover-form {
    width: 100%;
    padding: 40px;
}

.form-container {
    text-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-shadow: 2px 2px 5px 0px rgb(71, 92, 71);
    -moz-box-shadow: 2px 2px 5px 0px rgb(71, 92, 71);
    box-shadow: 2px 2px 5px 0px rgb(71, 92, 71);
    background-color: rgb(235, 237, 240);
}

.form-container h1 {
    width: 100%;
    font-weight: normal;
    padding: 20px 10px;
    font-size: 30px;
    color: black;
    background-color: rgba(71, 92, 71, 0.5);
}

.form-container form {
    padding: 15px;
    width: 100%;
}

.form-wraper {
    display: flex;
}

.form-wraper p {
    font-size: 14px;
    text-align: left;
    color: #525252;
    width: 100%;
    text-transform: uppercase;
}

.form-container form input[type="text"] {
    background-color: rgba(214, 226, 217, 0.8);
    width: 100%;
    height: 40px;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    text-align: left;
}

.form-container form input[type="submit"] {
    background-color: rgba(71, 92, 71, 0.8);
    text-transform: uppercase;
    color: white;
    width: 150px;
    height: 45px;
    cursor: pointer;
    font-size: 25px;
    border: 0;
    border-radius: 10px;
}

.col {
    display: flex;
    flex-direction: column;
    padding: 5px;
    flex-wrap: wrap;
    width: 100%;
}

.col3 {
    display: flex;
    flex-direction: column;
    padding: 5px;
    flex-wrap: wrap;
    width: 25%;
}

.conter-1 {
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.conter-1 .col-1 {
    width: 25%;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.enviar {
    padding: 15px;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.conteiner {
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    display: none;
}

.couver {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 300px;
    padding: 40px;
    background: white;
    border: 10px solid gray;
    align-items: center;
    justify-content: center;
}

.couver:last-child {
    padding: 10px;
}

.couver p {
    padding: 10px;
    font-size: 25px;
    text-align: center;
    color: #525252;
    width: 100%;
}

.couver input[type="submit"] {
    background-color: rgba(71, 92, 71, 0.8);
    text-transform: uppercase;
    color: white;
    width: 150px;
    height: 45px;
    cursor: pointer;
    font-size: 25px;
    border: 0;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .botao {
        height: 100%;
        width: 100%;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .center {
        padding: 0px;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .form-container form .form-wraper {
        padding: 0px;
        flex-wrap: wrap;
    }
    .col-1 {
        width: 100%;
    }
    .enviar {
        align-items: center;
        text-align: center;
        justify-content: center
    }
}