@import url(https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dosis", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: rgb(235, 237, 240);
    overflow: auto;
    /* I added this to see the modal, you don't need this */
}

.limpa {
    clear: both;
}

.center {
    width: 100%;
    margin: auto;
    max-width: 1280px;
}

section.cover-form {
    flex-direction: row;
    width: 100%;
    padding: 20px;
}

.form-container {
    text-align: center;
    width: 100%;
    -webkit-box-shadow: 2px 2px 5px 0px rgb(71, 92, 71);
    -moz-box-shadow: 2px 2px 5px 0px rgb(71, 92, 71);
    box-shadow: 2px 2px 5px 0px rgb(71, 92, 71);
    background-color: rgb(235, 237, 240);
}

.cabeça th {
    background-color: rgb(235, 237, 240);
    position: sticky;
    top: 0;
}

.corpao {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
}

.corpao1 {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
}

.modalDialog {
    overflow-y: scroll !important;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 50px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    right: 15px;
    text-align: center;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #00d9ff;
}

.pega {
    display: none;
}

.tabela-container {
    margin-right: 10px;
    width: 100%;
    -webkit-box-shadow: 2px 2px 5px 0px rgb(71, 92, 71);
    -moz-box-shadow: 2px 2px 5px 0px rgb(71, 92, 71);
    box-shadow: 2px 2px 5px 0px rgb(71, 92, 71);
    background-color: rgb(235, 237, 240);
    height: 100%;
    display: inline-block;
    margin-top: 0px;
}

.form-container h1 {
    width: 100%;
    font-weight: normal;
    padding: 20px 10px;
    font-size: 30px;
    background-color: rgba(71, 92, 71, 0.5);
}

.form-container form {
    padding: 15px;
    width: 100%;
}

.form-wraper {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.form-wraper1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: right;
    justify-items: right;
}

.col2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    padding-left: 200px;
    margin-top: 10px;
    align-items: center;
    justify-items: center;
}

.form-wraper1 .col2 #nome_campo {
    text-align: left;
    margin-left: 30px;
}

.form-wraper1 .col2 #dinheiro {
    text-align: left;
    font-size: 18px;
    padding: 3px;
}

.din {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.col1 {
    align-items: right;
    justify-items: right;
    display: flex;
    flex-direction: column;
    padding: 5px;
    padding-right: 200px;
    width: 50%;
    margin-top: 10px;
}

.col {
    display: flex;
    padding: 2px;
    flex-wrap: wrap;
    width: 100%;
}

.conter {
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.form-wraper p {
    font-size: 14px;
    text-align: left;
    color: #525252;
    width: 100%;
    text-transform: uppercase;
}

.form-container input[type="text"] {
    padding-left: 10px;
    background-color: rgba(214, 226, 217, 0.8);
    width: 150px;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    text-align: left;
    padding: 5px;
}

.conteiner {
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: none;
}

.conter input[type="text"] {
    background-color: rgba(214, 226, 217, 0.8);
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    text-align: left;
    padding: 5px;
}

.form-wraper1 input[type="text"] {
    background-color: rgba(214, 226, 217, 0.8);
    width: 150px;
    height: 40px;
    cursor: pointer;
    font-size: 25px;
    border: 0;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

.corpo:nth-child(even) {
    background-color: rgba(214, 226, 217, 0.8);
}

.corpo:hover {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(200, 204, 198);
}

th,
td {
    border-collapse: collapse;
    padding: 3px;
    text-align: center;
    border-bottom: 1px solid #c5c9c1
}

.teste1 {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    box-sizing: border-box;
}

.teste {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.enviar {
    padding: 15px;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.form-container input[type="submit"] {
    background-color: rgba(71, 92, 71, 0.8);
    text-transform: uppercase;
    color: white;
    width: 18%;
    height: 45px;
    cursor: pointer;
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
}

.couver input[type="submit"] {
    background-color: rgba(71, 92, 71, 0.8);
    text-transform: uppercase;
    color: white;
    width: 18%;
    height: 45px;
    cursor: pointer;
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
}

.form-container input[type="button"] {
    background-color: rgba(71, 92, 71, 0.8);
    text-transform: uppercase;
    color: white;
    width: 25%;
    height: 45px;
    cursor: pointer;
    font-size: 25px;
    border: 0;
    border-radius: 10px;
}

.col {
    padding-left: 8px;
}

.form-container .iconeSearch .Pesquisarproduto,
.form-container .iconeSearch .Pesquisar {
    background-color: rgba(124, 155, 133, 0.8);
    color: white;
    width: 210px;
    height: 36px;
    cursor: pointer;
    font-size: 17px;
    border-radius: 5px;
    padding-right: 10px;
}

.input_produto {
    width: 250px;
    padding-left: 10px;
}

.divQuanti {
    width: 150px;
    padding-left: 10px;
}

.iconeSearch {
    margin-top: 20px;
}

.deleteSearch img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.imagem {
    float: right;
    margin-top: 2px;
}

.imagem img {
    position: absolute;
    cursor: pointer;
    width: 32px;
    margin-top: 1px;
    margin-left: -35px;
    height: 32px;
}

#maquina,
#venda,
#itens {
    background-color: rgba(214, 226, 217, 0.8);
    font-size: 20px;
    border: 0 none;
    border-radius: 10px;
}

#maquina:hover,
#venda:hover,
#itens:hover {
    cursor: default;
}

#maquina:focus,
#venda:focus,
#itens:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}


/* INICIO:  Css da Tela de Retirada de caixa! */

#Valor {
    width: 150px;
}

#nome {
    width: 50%;
}

#observacao {
    background-color: rgba(214, 226, 217, 0.8);
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    text-align: left;
    padding: 5px;
}

.conteiner {
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: none;
}

.couver {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 300px;
    padding: 40px;
    background: white;
    border: 10px solid gray;
    align-items: center;
    justify-content: center;
}

.couver:last-child {
    padding: 10px;
}

.couver p {
    padding: 10px;
    font-size: 25px;
    text-align: center;
    color: #525252;
    width: 100%;
}


/* FIM:  Css da Tela de Retirada de caixa! */


/* tela de finalizar venda */

.col-1 {
    padding-left: 10px;
}

.col-1 select {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    outline: none;
    background-color: rgba(214, 226, 217, 0.8);
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    border: 0;
    border-radius: 10px;
}

.conter-tabela {
    margin-right: 10px;
    width: 50%;
    -webkit-box-shadow: 2px 2px 5px 0px rgb(71, 92, 71);
    -moz-box-shadow: 2px 2px 5px 0px rgb(71, 92, 71);
    box-shadow: 2px 2px 5px 0px rgb(71, 92, 71);
    background-color: rgb(235, 237, 240);
    height: 100%;
    display: inline-block;
    margin-top: 0px;
}

.corpo2:nth-child(even) {
    background-color: rgba(214, 226, 217, 0.8);
}


/*************************/

@media screen and (max-width: 900px) {
    .col1 {
        padding-right: 100px;
    }
    .col2 {
        padding-left: 100px;
    }
}

@media screen and (max-width: 768px) {
    .col1 {
        padding-right: 0px;
    }
    .col2 {
        padding-left: 0px;
        padding: 5px;
    }
    .form-wraper1 {
        flex-wrap: wrap;
    }
}