@import url(https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap);
*{
	margin: 0 ;
	padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}
html,body{
  width: 100%;
  height: 100%;
  background-color: rgb(235, 237, 240);
}
.limpa{
  clear: both;
} 
.center{
  width: 100%;
  margin: auto;
  max-width: 1280px;
}

#logo {
  width:50%;
  height:50%;
}

.panel-heading{
  font-size:150%;
}

/**** section */

section.cover-form{
  display: flex;
  width: 100%; 
  padding: 50px;
}
.form-container{
    min-width: 420px;
  text-align: center;
  align-items: center;
  width: 100%;
	-webkit-box-shadow: 2px 2px 5px 0px  rgb(71, 92, 71);
	-moz-box-shadow: 2px 2px 5px 0px  rgb(71, 92, 71);
	box-shadow: 2px 2px 5px 0px  rgb(71, 92, 71);
	background-color: rgb(235, 237, 240);
}


.form-container h1{
   width: 100%;
   font-weight: normal;
   padding:20px 10px;
   font-size: 30px;
   color: black;
   background-color: rgba(71, 92, 71,0.5); 
 }

 .form-container table {

    text-align: center;
  align-items: center;
  width: 100%;
	-webkit-box-shadow: 2px 2px 5px 0px  rgb(71, 92, 71);
	-moz-box-shadow: 2px 2px 5px 0px  rgb(71, 92, 71);
	box-shadow: 2px 2px 5px 0px  rgb(71, 92, 71);
	background-color: rgb(235, 237, 240);
 }  

.sumir-3 {
    white-space: nowrap;
}

.sumir-sempre {
  display: none;
}


.table{
    width:80%;
    margin:0 auto;
    border:0;
    box-shadow: 0 5px 30px darkgrey;
    border-spacing: 0;
  }
  
  .table thead th{
    font-weight: bold;
    background-color: black;
    color:white;
    
    padding:5px;
  }
  
  .table tr td{
    text-align: center;
    cursor: pointer; /**importante para não mostrar cursor de texto**/
  }
  
  .table tr td:last-child{
    text-align: right;
  }
  
  /**Cores**/
  .table tr:nth-child(odd){
    background-color: #eee;
  }

/**Cor quando passar por cima**/
.table tr:hover {
    background-color: rgb(215, 217, 215);
  }
  
  /**Cor quando selecisonado**/
  .row tr.selecionado {
    background-color:rgba(71, 92, 71,0.5); 
  }
  
/**MODAL **/

  .modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 50px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}
.modalDialog > div {
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 15px;
    text-align: center;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}


/**MODAL **/
@media screen and (max-width: 1000px){
    .sumir, .sumir-3 {
        display: none;
    }
    
    .table thead th{
        padding:1px;
        }    
  
  }
  @media screen and (max-width: 768px){
    .sumir-1 {
        display: none;
    }

    .table thead th{
      padding:1px;
      }
  }
